@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Uh oh!</h4>
    <p>Something went wrong...</p>
    <hr>
    <p class="mb-0">To go back home @Html.ActionLink("Click Me!","Index","Home")</p>
</div>
